.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-card{
    display: flex;
    -webkit-box-shadow: -1px 1px 50px 7px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: -1px 1px 50px 7px rgba(34, 60, 80, 0.29);
    box-shadow: -1px 1px 50px 7px rgba(34, 60, 80, 0.29);

    width: 100%;
    max-width: 550px;
}
.news-card img{
    width: 150%;
    max-width: 250px;
    height: 200px;
}
.news-card_info{
    padding: 20px;
    width: 150%;
    max-width: 660px;
}